<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>

<body>
	<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>

	<h1 th:text="'Director for Movie '"></h1>
	<div th:if="${artists.isEmpty()}">Non ci sono registi nel sistema</div>
	<div class="row-actors">
		<div th:each="artist : ${artists}" class="grid-card">
			<div class="card-img-container">
				<h2 th:text="${artist.name} + ' ' + ${artist.surname}" class="card-title">Tim Burton</h2>
				<img class="grid-card-img" th:src="@{'data:image;base64,' + ${artist.image}}">

			</div>
			<a th:href="@{'/admin/setDirectorToMovie/'+ ${artist.id}+'/'+${movie.id}}" class="a-btn"><button
					class="card-button">Add Director
				</button></a>
		</div>
	</div>

</body>


</html>