<!DOCTYPE html>
<html>

<head>
	<title>
		New Artist
	</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>

<body>

	<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>

	<form method="POST" class="add-form" th:action="@{/admin/artist}" th:object="${artist}"
		enctype="multipart/form-data">
		<div class="card-add">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div class="card-body-add">
				<h2 class="card-title-add">Add Artist</h2>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="name" th:field="${artist.name}" required>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="surname" th:field="${artist.surname}" required>
					<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
				</div>
				<div class="form-group">
					<input type="date" class="form-control" th:field="${artist.dateOfBirth}" required>
					<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
				</div>
				<div class="form-group">
					<input type="date" class="form-control" th:field="${artist.dateOfDeath}">
				</div>
				<input type="file" class="form-control" th:name="imageArtist" accept="/image*">
			</div>
			<button type="submit" class="btn btn-add">Submit</button>

		</div>
		</div>
	</form>
</body>

</html>