<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body style="overflow-y: hidden;">
	<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>

	
	<div th:if="${movie}">
		<div class="rectangle">
			<div class="card-rect"></div>
			<div class="card-rect"></div>
			<div class="card-rect"></div>
		</div>
	
		<div class="main-movie">
			<div class="row-movie">
	
				<div class="column-movie">
					<img class="column-movie-img" th:src="@{'data:image;base64,' + ${movie.image}}">
				</div>
				<div class="column2-movie">
					<p>
					<h1 th:text="${movie.title} + ' (' + ${movie.year} + ')'">Titolo Film</h1>
					<h3><a style="text-decoration: none; color: #bbb;" th:href="@{'/admin/formChangeMovie/'+${movie.id}}">Modify Movie</a></h3>
					</p>
	
					<div th:if="${movie.director}">
						<h3 th:text="'Regista: '+${movie.director.name} + ' ' + ${movie.director.surname}">Regista</h3>
						<a style="text-decoration: none; color: #bbb;" th:href="@{'/admin/addDirector/' + ${movie.id}}">Modify Director</a></span>
					</div>
					<div th:unless="${movie.director}">
						<a style="text-decoration: none; color: #bbb;" th:href="@{'/admin/addDirector/' + ${movie.id}}">Add Director</a>
					</div>
						<a style="text-decoration: none; color: #bbb;" th:href="@{'/admin/removeMovie/' + ${movie.id}}">Remove Movie</a>
					<div>
						<div class="rating" th:if="${stars > 0}">
							<label for="1" th:each="star : ${#numbers.sequence(1, stars)}">
								<svg style="fill: #ffc73a; stroke: #ffc73a;stroke-opacity: 0; stroke-dasharray: 0;"
									viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
										pathLength="360"></path>
								</svg>
							</label>
	
						</div>
					</div>
				</div>
				<div class="column3-movie">
					<div style="display: flex; gap: 2%;">
						<h3>Reviews</h3>
						<h3 th:if="${userDetails}">
							<a style="text-decoration: none; color: #bbb; font-size: 15px;"
								th:href="@{'/formNewReview' + '/' + ${movie.id}}">Remove Review</a>
						</h3>
					</div>
					<div class="row-reviews">
						<a class="a-btn-row" href="#">
							<p th:each="review : ${movie.reviews}" class="reviews-line">
								<span th:text="${review.title}">Title Review</span>
								<span th:text="' '+${review.bodyText}"> BodyText:Bel Film</span>
								<span th:text="'Voto: '+${review.stars}">Title Review</span>
							</p>
						</a>
					</div>
				</div>
	
			</div>
			<div style="display: flex; gap: 2%;">
				<h2 style="margin-left: 1%;">Actors 
					<a style="text-decoration: none; color: #bbb; font-size: 15px;" th:href="@{'/admin/updateActors' + '/' + ${movie.id}}"> Modify</a>
				</h2>
					
			</div>
	
			<div class="row-actors">
				<div th:each="artist : ${movie.actors}" class="grid-card">
					<div class="card-img-container">
						<h2 th:text="${artist.name} + ' ' + ${artist.surname}" class="card-title">Tim Burton</h2>
						<img class="grid-card-img" th:src="@{'data:image;base64,' + ${artist.image}}">
	
					</div>
					<a th:href="@{'/artist' + '/' + ${artist.id}}" class="a-btn"><button class="card-button">More
							info</button></a>
				</div>
			</div>
		</div>
		</div>
		<div th:unless="${movie}">Film non esistente</div>
</body>

</html>