<!DOCTYPE html>
<html>
  <head>
    <title>Artista</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>


    <h1>Dettagli Artista</h1>
    <div th:if="${artist}">
        <span th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi</span>
        <span th:text="'(' + ${artist.dateOfBirth} + ')'">20/20/2000</span>
        <span><img width="5%" th:src=${artist.urlOfPicture} /></span>
    </div>
    <div th:unless="${artist}">Non esiste</div>
  </body>
</html>
