<!DOCTYPE html>
<html>
  <head>
    <title>Artist</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body style="overflow-y: hidden;">
	<div class="rectangle">
		<div class="card-rect"></div>
		<div class="card-rect"></div>
		<div class="card-rect"></div>
	</div>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>
	<div th:if="${artist}">

		<div class="main-movie">
			<div class="row-movie">
	
				<div class="column-movie">
					<img class="column-movie-img" th:src="@{'data:image;base64,' + ${artist.image}}">
				</div>
				<div class="column2-movie">
					<p>
					<h1 th:text="${artist.name} + ' ' + ${artist.surname}">Titolo Film</h1>
					</p>
					<div th:if="${artist.dateOfBirth}">
						<h3 th:text="'Date Birth: '+${artist.dateOfBirth}">date of birth</h3>
						</a>
					</div>
					<div th:if="${artist.dateOfDeath}">
						<h3 th:text="'Date Death: '+${artist.dateOfDeath}">date of death</h3>
						</a>
					</div>
				</div>
			</div>
			<h1 style="margin-left: 1%;">Movie</h1>
			<div class="row-actors">
				<div th:each="movie : ${artist.ActorOf}" class="grid-card">
					<div class="card-img-container">
						<h2 th:text="${movie.title} " class="card-title">Tim Burton</h2>
						<img class="grid-card-img" th:src="@{'data:image;base64,' + ${artist.image}}">
	
					</div>
					<a th:href="@{'/movie' + '/' + ${movie.id}}" class="a-btn"><button class="card-button">More
							info</button></a>
				</div>
			</div>
		</div>
		
		
	</div>
	<div th:unless="${movie}">Non esiste</div>
</body>
</html>
