<!DOCTYPE html>
<html>
<head>
	<title>Cerca Artist</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>
	<h1>Cerca film per anno</h1>
	<form th:action="@{/searchArtists}" method="post">
		<div>Anno: <input type="text" th:value="${name}" name="name" />
		</div>
		<div><input type="submit" /></div>
	</form>
</body>

</html>