<!DOCTYPE html>
<html>

<head>
	<title>
		New Review
	</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un recensione</h1>
    <h2 th:text="${movie.title}"></h2>
	<form th:action="@{'/review/'+${movie.id}}" method="POST" th:object="${review}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
		</div>
		
		<div>
			<label>title:</label> <span><input required type="text" th:field="${review.title}" /></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</div>

		<div>
			<label>testo:</label> <span><input required type="text" th:field="${review.bodyText}" /></span>
			<span th:if="${#fields.hasErrors('bodyText')}" th:errors="*{bodyText}"></span>
		</div>

		<div>
			<span><input type="radio" name="stars" th:field="${review.stars}" value="1" /></span>
			<span><input type="radio" name="stars" th:field="${review.stars}" value="2" /></span>
			<span><input type="radio" name="stars" th:field="${review.stars}" value="3" /></span>
			<span><input type="radio" name="stars" th:field="${review.stars}" value="4" /></span>
			<span><input type="radio" name="stars" th:field="${review.stars}" value="5" /></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>