<!DOCTYPE html>
<html>

<head>
	<title>Movies</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>

<body>
	<div class="rectangle">
		<div class="card-rect"></div>
		<div class="card-rect"></div>
		<div class="card-rect"></div>
	</div>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>

	<div class="main-movie">
		<div class="row-movie" th:each="movie : ${movies}">

			<div class="column-movie">

				<img class="column-movie-img" th:src="@{'data:image;base64,' + ${movie.image}}">
			</div>
			<div class="column2-movie">
				<p>
					<a class="a-btn-row"th:href="@{'/movie/'+${movie.id}}">
						<h2 th:text="${movie.title}">Titolo Film</h2>
					</a>
				</p>
				<div th:if="${movie.director}">
					<p th:text="${movie.director.name}+' '+${movie.director.surname}">Regista</p>
				</div>
			</div>
			<div class="column3-movie">
				<h3>Reviews</h3>
				<div class="row-reviews">
					<div th:each="review : ${movie.reviews}">
						<p class="reviews-line" th:text="'Titolo:'+${review.title}+'&nbsp;&nbsp;Recensione:'+${review.bodyText}+'&nbsp;&nbsp;Voto:'+${review.stars}">
							Recensione
						</p>
				</div>
				</div>

			</div>

		</div>
	</div>


</body>

</html>