<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Registration compleated</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>

	<div class="div-r">
		<div class="card-r">
			<h1 class="card-title-r">You Registered</h1>
			<p class="card-text-r" th:text="'Name: '+${user.name}">Prima riga di testo.</p>
			<p class="card-text-r" th:text="'Surname: '+${user.surname}">Seconda riga di testo.</p>
			<p class="card-text-r" th:text="'Email: '+${user.email}">Terza riga di testo.</p>
		  </div>
	</div>

</body>
</html>