<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>

<body>
	<div th:if="${userDetails}">
		<div th:if="${not userDetails.authorities.?[authority == 'ADMIN'].isEmpty()}">
			<div th:insert="~{/admin/indexAdmin.html :: headerAdmin}"> </div>
		</div>
		<div th:if="${not userDetails.authorities.?[authority == 'DEFAULT'].isEmpty()}">
			<div th:insert="~{/index.html :: headerUser}"> </div>
		</div>
	</div>
	<div th:unless="${userDetails}">
		<div th:insert="~{/index.html :: headerUser}"> </div>
	</div>

	<h1 style="color: #bbb; margin-left: 2%;">My Reviews</h1>
	<div th:if="${reviews==null || reviews.isEmpty()}">Non ci sono reviews nel sistema</div>

	<div class="grid">
	<div class="card-rw-all" th:each="review : ${reviews}">
		<h3 class="card-title-rw" th:text="${review.movie.title}+' ('+${review.movie.year}+')'">Add TitoloMOvie Review</h3>
		<h4 th:text="'User: '+${review.credentials.username}"></h4>
			<div class="form-group-rw">
				<h4 readonly type="text" class="form-control-rw-all" placeholder="Title" name="title" th:text="'Title: '+${review.title}">
			</div>
			<div class="form-group-rw">
				<textarea readonly class="form-control-rw body-text-rw" placeholder="BodyText" name="bodyText"
					th:text="${review.bodyText}"></textarea>
			</div>
			<div style="display: flex;">
				<div class="rating" th:if="${review.stars}">
					<label for="1" th:each="star : ${#numbers.sequence(1, review.stars)}">
						<svg style="fill: #ffc73a; stroke: #ffc73a;stroke-opacity: 0; stroke-dasharray: 0;"
							viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
								pathLength="360"></path>
						</svg>
					</label>

				</div>
                <a style="position: absolute; margin-left: 15%; text-decoration: none; color: #bbb;" th:href="'/formEditReview/'+${review.id}"><h4 >Modify</h4></a>
			</div>
	</div>
</div>
	
</body>

</html>